/*Navigation*/

.navigation {
    position:absolute;
    padding: 12px 0;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #B33771;
}